<html>
    <head>
        <title>Diet</title>
        {% load static %}
        
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>         
        <form action="diet3" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body bg-success-subtle">
                    <div class="row"> 
                        <div class="col-5">
                            <div class="form-group">
                                <label>email</label>
                                <input type="email"  class="form-control" placeholder="email" name="email" value="{{healthy.email}}">

                            </div> 
                        </div>
                    <div class="row"> 
                        <div class="col-5">
                            <div class="form-group">
                                <label>What type of diet do you want?</label>
                                <input type="text" class="form-control" id="diet" name="diet" required value="{{healthy.diet}}">
                            </div> 
                        </div>
                        <div class="col-5">
                        
                            <div class="form-group">

                                <label>Age</label>
                                <input type="number" class="form-control" id="age" placeholder="20" name="age" required value="{{healthy.age}}">
                            
                            </div>
                            <div class="col-md-8">
                                <form class="form-group" id="form">
                                    <div class="row">
                                        <div class="col-4 justify-content-center">
                                            <label class="form-control" class="time"> 
                                                Morning
                                            </label>
                                        </div>
                                    
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-control"> 
                                                <table  class="first">
                                                    <tr>
                                                        <th>Food Dishes</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Carbohydrates- Samai Millet Kichadi
                                        
                                                        </td>
                                                        <td> 1 cup or 250grms</td>
                                                    </tr>
                                                    <tr><td> Millet dosa</td>
                                                        <td> 2 nos</td></tr>
                                                        
                                                    <tr><td> Millet idli</td>
                                                        <td> 3 nos</td></tr></tr>
                                                    <tr><td>Protein- urad dal chutney</td>
                                                        <td> 1/2 cup </td></tr>
                                                            
                                                    <tr><td> Vitamins and Minerals- Banana/Sweet lime/Apple </td>
                                                        <td> 1 </td></tr> 
                                                    <tr><td> Diary product-Milk/yogurt/curd </td>
                                                        <td> 1 Glass / 1/2cup / 1/2cup </td></tr>
            
                                                       
        
                                               </table>
        
                                            </label>
        
                                    </div>
                                </form>
        
                            </div>


        </form>
    </body>