<html>
    <head>
        <h2>Hello</h2>
        <h3>Welcome to HealthyBowl</h3>
        <h4>We provide you with customized diet plans</h4>
        <h3>Want to live a healthy life Reach us @healthybowlnutrition@gmail.com</h3>
        <h4>We have successfully recieved your details
        </h4>
        <p>Have your customized diet plans daily in your inbox through our premium membership which is just @999/- per annum</p>

        <h3>Have a great day</h3>
        
                   
        
    </head>
</html>